@charset "UTF-8";
/* ***********************
* файла се генерира от
* less/base.less
*********************** */
.main-nav-link:hover {
  background: #a115d7;
}
.main-nav-link:focus {
  background: #800080;
}
body .header {
  background: #87509c;
}
body .header .holding-nav-logo {
  *zoom: 1;
}
body .header .holding-nav-logo:before,
body .header .holding-nav-logo:after {
  content: "";
  display: table;
  line-height: 0;
}
body .header .holding-nav-logo:after {
  clear: both;
}
body .header .section-heading {
  margin: 20px;
}
body .header .main-button {
  font-size: 15px;
  line-height: 18px;
  color: #000;
  font-weight: inherit;
}
.col-1 {
  width: 308.25px;
}
.col-2 {
  width: 616.5px;
}
.col-3 {
  width: 924.75px;
}
.col-4 {
  width: 1233px;
}
/* .parent-selector {
    .generate-columns(8, 1, 800px);
}
 */
/********************************
    Font iclusion
********************************/
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
  font-family: "icons-font-x";
  src: url("../fonts/icons-font-x.eot");
  src: url("../fonts/icons-font-x.eot?#iefix") format("embedded-opentype"), url("../fonts/icons-font-x.woff") format("woff"), url("../fonts/icons-font-x.ttf") format("truetype"), url("../fonts/icons-font-x.svg#icons-font-x") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "icons-font-x" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-font-x" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-social-linkedin:before {
  content: "\65";
}
.icon-social-facebook:before {
  content: "\66";
}
.icon-social-twitter:before {
  content: "\67";
}
.icon-social-google-plus:before {
  content: "\68";
}
.icon-social-behance:before {
  content: "\69";
}
.icon-social-dribbble:before {
  content: "\6a";
}
.icon-home:before {
  content: "\61";
}
.icon-comment-quotes:before {
  content: "\62";
}
.icon-graph-trend:before {
  content: "\63";
}
.icon-rss:before {
  content: "\64";
}
.icon-megaphone:before {
  content: "\6b";
}
.icon-social-github:before {
  content: "\6c";
}
/********************************
    Reset CSS
********************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  outline: 0;
}
/********************************
    Border Box
********************************/
* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}
/********************************
    Clearfix
********************************/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*LINE*/
.line:after {
  content: '';
  display: block;
  width: 87px;
  height: 4px;
  margin: 25px auto 0 auto;
  background-color: #000000;
  opacity: 0.149;
}
/********************************
    4 Column Grid
********************************/
/*.col-1 { width: 280px; }
.col-2 { width: 560px; }
.col-3 { width: 840px; }
.col-4 { width: 1120px; }
*/
/*service classes*/
.wrapper {
  margin: 0 auto;
}
.block-element {
  display: block;
}
.float-left,
.float-right {
  position: relative;
  display: block;
  float: left;
}
.float-right {
  float: right;
}
.first-heading {
  font-size: 40px;
  line-height: 0.748;
  color: #ffffff;
  font-weight: bold;
}
.second-heading {
  font-size: 18px;
  line-height: 1.444;
  color: #ffffff;
  font-weight: normal;
}
/*header*/
.header {
  /* background: #87509c; */
  padding: 58px 0 148px 0;
}
.holding-nav-logo {
  margin: 0 0 145px 0;
}
.logo {
  display: block;
  margin: 0 0 0 50px;
  width: 65px;
  height: 20px;
  background: url(../images/logo.png) no-repeat 0 0;
  text-indent: -9999px;
  background-size: cover;
}
/* CSS for high-resolution devices */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .logo {
    background-image: url(../images/logo-x2.png);
  }
}
.main-nav {
  font-size: 0;
}
.main-nav-link {
  display: inline-block;
  padding: 15px 10px;
  margin: 0 0 0 15px;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  font-weight: normal;
}
.main-nav-link.active,
.main-nav-link:hover {
  background: #643a79;
}
.heading-cta {
  display: block;
  margin: 0 0 50px 0;
  font-size: 42px;
  line-height: 49px;
  color: #f7f3ea;
  font-weight: normal;
}
.main-button {
  display: inline-block;
  padding: 29px 82px 25px 82px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-weight: normal;
  border-radius: 3px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}
.main-button:hover {
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(135, 193, 184, 0.8);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(135, 193, 184, 0.8);
  box-shadow: inset 0px -4px 0px 0px rgba(135, 193, 184, 0.8);
}
.orrange-button {
  background: #eb7d4b;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(235, 125, 75, 0.65);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(235, 125, 75, 0.65);
  box-shadow: inset 0px -4px 0px 0px rgba(235, 125, 75, 0.65);
}
.green-button {
  background: #17c2a4;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(23, 194, 164, 0.65);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(23, 194, 164, 0.65);
  box-shadow: inset 0px -4px 0px 0px rgba(23, 194, 164, 0.65);
}
.blue-button {
  background: #30bae7;
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(48, 186, 231, 0.65);
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(48, 186, 231, 0.65);
  box-shadow: inset 0px -4px 0px 0px rgba(48, 186, 231, 0.65);
}
/*--------------------------------*/
.services {
  background: #17c2a4;
}
.section-heading {
  display: block;
  margin: 0 0 22px 0;
}
.services .wrapper {
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
}
.sub-heading {
  display: block;
  margin-top: 25px;
}
.service-cols {
  display: inline-block;
  margin-top: 82px;
}
.service-image {
  display: inline-block;
}
.service-image img {
  display: inline-block;
  width: 100%;
}
.service-info {
  min-height: 200px;
  padding: 58px 58px 0 58px;
  margin-bottom: 127px;
}
.service-heading {
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 27px;
}
.service-text {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: normal;
}
/*------------------------------------*/
.team-section {
  padding: 120px 0 127px 0;
  background: #e7f1f8;
  text-align: center;
}
.team-headding {
  margin-bottom: 24px;
  color: #3c4761;
}
.subheadding {
  margin-bottom: 80px;
  color: #3c4761;
}
.team-members {
  padding: 0 40px;
}
.name-star {
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
.blue-text {
  padding: 15px 0;
  color: #30bae7;
}
.member-info {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}
.face-facebook {
  background: url(../images/facebook.png);
  display: inline-block;
  padding: 16px;
  margin: 6px;
}
.face-twitter {
  background: url(../images/twitter.png);
  display: inline-block;
  padding: 16px;
  margin: 6px;
}
.face-linkedin {
  background: url(../images/linkedin.png);
  display: inline-block;
  padding: 16px;
  margin: 6px;
}
.face-mail {
  background: url(../images/mail.png);
  display: inline-block;
  padding: 16px;
  margin: 6px;
}
/*главни букви при започване на css class не е готино*/
.Base {
  display: inline-block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 42px;
}
.photo-star {
  width: 100%;
  border-radius: 50%;
}
/*------------------------*/
.skills,
.contact {
  padding: 120px 0;
}
.section-title {
  color: #3c4761;
  text-transform: uppercase;
  padding-bottom: 14px;
}
.sub-title {
  color: #3c4761;
  padding-top: 27px;
}
.skills-wrapper {
  padding-top: 84px;
}
.description {
  padding-top: 33px;
  text-transform: uppercase;
  color: #3c4761;
  font-size: 24px;
}
/* -------------------------------- */
.portfolio {
  background-color: #ffdd99;
  padding-top: 115px;
  padding-bottom: 90px;
}
.our-porfolio {
  text-transform: uppercase;
  margin-bottom: 21px;
  color: #393939;
}
.secondary-heading {
  color: #393939;
}
.portfolio-nav {
  text-align: center;
  padding: 40px 0px 60px 0;
}
.links-in-portfolio {
  display: inline-block;
  font-size: 18px;
  line-height: 1.083;
  color: #393939;
  font-weight: normal;
  text-align: center;
  padding: 10px 25px;
  background-color: #ebc985;
  margin: 6px;
  border-radius: 3px;
}
.active-link {
  background-color: #ffffff;
}
.links-in-portfolio:hover {
  background-color: gray;
}
.links-in-portfolio:visited {
  background-color: #ffffff;
}
.pc-img {
  width: 100%;
  padding: 0px 10px 30px 10px;
}
.text-below-images {
  font-size: 18px;
  line-height: 1.083;
  color: #393939;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 65px;
}
/*-------------------------------*/
.pink-section {
  display: block;
  background-color: #d74680;
  color: #ffffff;
  font-weight: bold;
  padding-top: 115px;
  padding: 120px 0 50px 0;
}
.what-they-say {
  text-transform: uppercase;
  margin-bottom: 21px;
  color: #ffffff;
}
.love-us {
  color: #ffffff;
}
.base2 {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: inline-block;
  float: left;
  margin-left: 20px;
}
.base2-right {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: inline-block;
  float: left;
  margin-left: 40px;
}
.nullam {
  font-size: 17.5px;
  line-height: 1.486;
  color: #ffffff;
  font-weight: normal;
  padding: 10px 20px 30px 45px;
  width: 370px;
}
.name-of-star {
  font-size: 24px;
  line-height: 1.083;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding: 0 20px 0 45px;
}
.found {
  font-size: 18px;
  line-height: 1.444;
  color: #ffdd99;
  font-weight: normal;
  text-align: left;
  padding: 0 20px 0 45px;
}
.wrap-in-left {
  float: left;
}
.wrap-content {
  margin: 70px 0 80px;
  height: 200px;
  overflow: hidden;
}
/*-----------------------------*/
.dark-blue-section {
  background-color: #3c5499;
  padding: 115px 0 115px 0;
}
.services-provide {
  padding-bottom: 25px;
}
.we-are-heading {
  margin-bottom: 75px;
}
.email {
  float: left;
  background-color: #273a71;
  padding: 20px;
  border-radius: 3px;
  border: 0;
  margin-left: 15px;
  width: 415px;
  margin-bottom: 27px;
}
.name {
  float: right;
  background-color: #273a71;
  padding: 20px;
  border-radius: 3px;
  border: 0;
  margin-right: 15px;
  width: 415px;
  margin-bottom: 27px;
}
.message {
  display: block;
  width: 860px;
  height: 200px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  background-color: #273a71;
  border-radius: 3px;
  border: 0;
}
.submit-button {
  display: block;
  border: 0;
  padding: 29px 82px 25px 82px;
  font-size: 13.403px;
  line-height: 1.455;
  color: #ffffff;
  font-weight: normal;
  background: #30bae7;
  border-radius: 3px;
  border-bottom: 4px solid #299ec5;
  margin: 0 auto;
  width: 295px;
}
/*-----------------------------*/
.footer {
  background-color: #344b8e;
}
.media-social {
  padding: 40px 100px;
}
.social {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  line-height: 1.246;
  color: #ffffff;
  font-weight: normal;
  font-family: 'Myriad Pro Regular';
  text-align: center;
}
footer a:hover {
  color: #30bae7;
}
/*MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media screen and (max-width: 1200px) {
  .col-1 {
    width: 25%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 75%;
  }
  .col-4 {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .base2-right {
    margin-left: 0px;
  }
  .base2 {
    margin-left: 0px;
  }
  .block-element {
    display: inline-block;
  }
  .message {
    width: 100%;
    margin: 10px 0;
  }
  .name {
    width: 100%;
    margin: 10px 0;
  }
  .email {
    width: 100%;
    margin: 10px 0;
  }
}
@media screen and (max-width: 600px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}
